.jobs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 0 16px 125px 16px;
    background-color: #ece9e3;
    background-image: url(./images/box.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto;

    .postsContainer {
        max-width: 1170px;
        display: grid;
        margin: 0 auto;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 70px;
        width: 100%;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 204px;

    a {
        margin: 0 5px;
        padding: 5px 10px;
        text-decoration: none;
        border: 1px solid #ccc;
        color: #333;

        &:hover {
            border-color: #0070f3;
            color: #0070f3;
        }

        &.active {
            border-color: #0070f3;
            color: #0070f3;
        }
    }
}

.categoryButtons {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto 44px auto;
}

.categoryButton {
    padding: 2px 5px;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;

    &:not(:first-child) {
        font-weight: 600;
    }
}

.heading {
    font-size: 81px;
    margin: 0 auto 160px auto;
    width: 100%;
    max-width: 1170px;
    font-weight: 400;
}
