.post {
    width: 100%;
    max-width: 615px;
}
.imgContainer {
    margin-bottom: 42px;
}

.category {
    height: 18px;
    text-transform: uppercase;
    color: #ED4D16;
    margin-bottom: 20px;
}

.title {
    font-size: 32px;
    margin-bottom: 16px;
}

.text {
    font-size: 18px;
}