.contactSection {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ece9e3;;
}

.heading {
    font-size: 50px;
    font-weight: 400px;
    margin-bottom: 62px;    
    text-align: center;
    font-weight: 400;
}

.button {
    padding: 22px 52px;
    font-size: 18px;
    background: #ed4d16;
    font-size: 18px;
    color: white;
    border: none;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
}