.mySlider {
  
}

.slideBox {
  width: 100%;
}

.text {
  font-size: 24px;
  font-weight: normal;
  font-family: "Montserrat-Variable";
  line-height: 1.4;
  position: relative;

  span {
    font-size: 24px;
    font-weight: bold;
    color: #ed4d15;
    opacity: 0.5;
  }
}

.text::before {
  content: "“";
  position: absolute;
  top: -5px;
  left: -15px;
  font-family: "Montserrat-Variable";
  font-weight: bold;
  color: #ed4d15;
  font-size: 24px;
  z-index: -1;
  mix-blend-mode: multiply;
  opacity: 0.5;
}

.slideImgContainer {
  display: flex;
  width: 250px;
  gap: 20px;
  text-align: center;
  align-items: center;
  margin-top: 40px;

  .slideImg {
    width: 80px;
    height: 80px;
    background: black;
    position: relative;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: '';
      position: absolute;
      height: 15px;
      width: 15px;
      background: white;
      transform: rotate(45deg);
    }
  }

  .imgHeading {
    font-weight: normal;
    text-transform: uppercase;
  }
}

.mySlider :global(.slick-dots li) {
  background: white;
  border-radius: 50%;
  height: 12px;
  width: 12px;
}

.mySlider :global(.slick-dots li.slick-active ) {
  background: #ed4d15;
  border-radius: 50%;
}

.mySlider :global(.slick-dots li button ) {
 opacity: 0;
}