.sectionOne {
    background-color: #ece9e3;
}

.sectionBox {
    padding-top: 150px;
    padding-bottom: 300px;
    background-image: url(./images/box.png);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    @media (max-width: 900px){
        padding-top: 75px;
        padding-bottom: 150px;
    }
}


.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 20px;
}

.heading3 {
    text-transform: uppercase;
    margin-bottom: 130px;
    @media (max-width: 900px){
        margin-bottom: 50px;
    }
    @media (max-width: 700px){
        
    }
}

.heading1 {
    font-size: 78px;
    font-weight: normal;
    max-width: 800px;
    margin-bottom: 100px;
    @media (max-width: 900px){
        font-size: 68px;
    }
    @media (max-width: 700px){
        font-size: 48px;
        max-width: 450px;
    }
    @media (max-width: 500px){
        font-size: 36px;
        max-width: 320px;
    }
}

.arrow {
    width: 60px;
    height: 60px;
    cursor: pointer;

    & img {
        transition: transform 0.5s ease-in-out;
    }
    &:hover img {
        transform: translateY(5px);
    }
}
