
@font-face {
  font-family: 'Rubik-Regular';
  src: url('./font/Rubik-VariableFont_wght.ttf') format('truetype');
} 
@font-face {
  font-family: 'Montserrat-Variable';
  src: url('./font/Montserrat-VariableFont_wght.ttf') format('truetype');
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  background: transparent;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family:  'Rubik-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg-primary);
}

ul[class],
ol[class] {
  padding: 0;
  border-radius: 0px;
}

a {
  text-decoration: none;
  cursor: pointer;

  &:active {
    color: var(--link);
  }

  &:disabled {
    color: var(--link-disabled);
  }

  &:hover {
    color: var(--link-hover);
  }

  &:focus {
    color: var(--link-focus);
  }
}

input,
button,
textarea,
select {
  font: inherit;
}

html,
body {
  height: 100vh !important;
  min-height: 100vh !important;
}