.sectionFooter {
    padding: 125px 0;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

.footerBox {
    display: flex;
    justify-content: space-between;
    @media (max-width: 500px){
        flex-direction: column;
        justify-content: center;
        
    }
}


.logoRow {
    display: flex;
    gap: 110px;
    @media (max-width: 500px){
        flex-direction: column;
    }
}

.footerSearch {
    display: flex;
    gap: 35px;
    ul li{
        margin-bottom: 10px;
        list-style: none;
    }
}
.footerLogo{
    height: 85px;
    width: 85px;
    img{
        display: block;
        width: 100%;
    }
}
.privacy{
    ul li{
        margin-bottom: 10px;
        list-style: none;
    }
}