.sectionFive {
    width: 100%;
}

.contentTop {
    background: #f6f4f1;
    padding-top: 150px;
    height: 490px;
}

.row {
    width: 100%;
    max-width: 1170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 52px auto;
    padding: 0 20px;
}

.title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
}

.link {
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
}

.postsContainer {
    position: relative;
    top: 0;
    width: 100%;
    max-width: 1170px;
    display: flex;
    gap: 110px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid #ed4d16;
    padding-bottom: 81px;
    margin: 0 auto;
}

.contentBottom {
    background: #ece9e3;
    padding: 450px 0 187px 0;

    & .title {
        width: 100%;
        max-width: 1170px;
        margin: 0 auto 41px auto;
    }
    .imageContainer{
        padding: 0;
    }
}

.blogsContainer {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blogItem {
    width: 100%;
    max-width: 28%;

    & .imageContainer {
        width: 100%;
        margin-bottom: 20px;
    }
}

.imageText {
    font-size: 18px;
}

.web3Container {
    width: 100%;
    background: #ece9e3;
}



// .sectionFive {
//     position: relative;
// }

// .boxFiveOne {
//     background-color: #f6f4f1;
//     height: 500px;
// }

// .boxFiveTwo {
//     background-color: #ece9e3;
//     height: 1100px;
// }

// .fiveContent {
//     position: absolute;
//     top: 150px;
//     left: 50%;
//     transform: translateX(-50%);

//     .container {
//         width: 1170px;
//         margin: 0 auto;
//     }

//     .heading {
//         display: flex;
//         justify-content: space-between;
//         margin-bottom: 50px;

//         .heading3 {
//             font-weight: bold;
//             text-transform: uppercase;
//             font-size: 16px;
//         }

//         .heading3 span::after {
//             content: '>';
//         }
//     }

//     .rowFive {
//         display: flex;
//         justify-content: space-between;
//     }
// }

// .collFive2 {
//     max-width: 500px;
//     height: auto;

//     img {
//         width: 100%;
//         display: block;
//         margin-bottom: 25px;
//     }

//     .heading3 {
//         font-size: 16px;
//         color: #ed4d15;
//         margin-bottom: 15px;

//     }

//     .heading2 {
//         margin-bottom: 15px;

//     }

//     p {
//         line-height: 1.5;
//     }
// }

// .hr {
//     height: 5px;
//     background-color: #ed4d15;
//     width: 100%;
//     margin: 90px 0;
// }

// .rowContenttwo {
//     display: flex;
//     justify-content: space-between;
//     margin-bottom: 90px;

//     .collFive3 {
//         .fiveImgBlog {
//             max-width: 350px;
//             height: auto;

//             img {
//                 display: block;
//                 width: 100%;
//                 margin-bottom: 15px;
//             }
//         }

//         .heading4 {
//             text-transform: uppercase;
//             font-weight: normal;
//         }
//     }
// }

// .bird {
//     width: 350px;
//     height: 205px;
//     background-color: #ed4d15;
//     padding: 40px;

//     .imgPos {
//         display: flex;
//         gap: 20px;

//         img {
//             width: 100%;
//             display: block;
//             height: 125px;
//             margin: 0;
//         }
//     }

//     margin-bottom: 15px;
// }

// .sectionFive {
//     position: relative;
// }

// .boxFiveOne {
//     background-color: #f6f4f1;
//     height: 500px;
// }

// .boxFiveTwo {
//     background-color: #ece9e3;
//     height: 1100px;
// }

// .fiveContent {
//     position: absolute;
//     top: 150px;
//     left: 50%;
//     transform: translateX(-50%);

//     .container {
//         width: 1170px;
//         margin: 0 auto;
//     }

//     .heading {
//         display: flex;
//         justify-content: space-between;
//         margin-bottom: 50px;

//         .heading3 {
//             font-weight: bold;
//             text-transform: uppercase;
//             font-size: 16px;
//         }

//         .heading3 span::after {
//             content: '>';
//         }
//     }

//     .rowFive {
//         display: flex;
//         justify-content: space-between;
//     }
// }

// .collFive2 {
//     max-width: 500px;
//     height: auto;

//     img {
//         width: 100%;
//         display: block;
//         margin-bottom: 25px;
//     }

//     .heading3 {
//         font-size: 16px;
//         color: #ed4d15;
//         margin-bottom: 15px;

//     }

//     .heading2 {
//         margin-bottom: 15px;

//     }

//     p {
//         line-height: 1.5;
//     }
// }

// .hr {
//     height: 5px;
//     background-color: #ed4d15;
//     width: 100%;
//     margin: 90px 0;
// }

// .rowContenttwo {
//     display: flex;
//     justify-content: space-between;
//     margin-bottom: 90px;

//     .collFive3 {
//         .fiveImgBlog {
//             max-width: 350px;
//             height: auto;

//             img {
//                 display: block;
//                 width: 100%;
//                 margin-bottom: 15px;
//             }
//         }

//         .heading4 {
//             text-transform: uppercase;
//             font-weight: normal;
//         }
//     }
// }

// .bird {
//     width: 350px;
//     height: 205px;
//     background-color: #ed4d15;
//     padding: 40px;

//     .imgPos {
//         display: flex;
//         gap: 20px;

//         img {
//             width: 100%;
//             display: block;
//             height: 125px;
//             margin: 0;
//         }
//     }

//     margin-bottom: 15px;
// }
