.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 20px;
}

.sectionBoxTwo {
    background-color: #ece9e3;
    padding-bottom: 200px;

    & .heading3 {
        text-transform: uppercase;
        margin-bottom: 100px;
    }
}

.rowTwo {
    display: flex;
    gap: 60px;
    @media (max-width: 1169px){
        flex-direction: column;
        align-items: center;
        align-content: center;
        width: 450px;
    }
}

.coll3 {
    @media (max-width: 1000px){
        display: flex;
        width: 450px;
        flex-direction: column;
        

    }
    .titleImg {
        width: 90px;
        height: 90px;
        margin-bottom: 40px;
        @media (max-width: 650px){
            
        }
    }
    .heading4 {
        font-size: 36px;
        font-weight: normal;
        margin-bottom: 30px;
    }
    .title {
        font-family: "Montserrat-Variable";
        line-height: 1.4;
    }
}
